.brush-overlay-container {
    position: absolute;
    inset: 0;
    pointer-events: none;
}

.brush-canvas {
    position: absolute;
    pointer-events: auto;
}

.brush-canvas.brush-mode {
    cursor: url('/images/pencil.png') 4 20, crosshair;
}


.brush-canvas.eraser-mode {
    cursor: crosshair;
}