.brush-overlay-container {
    position: absolute;
    inset: 0;
    pointer-events: none;
}
  
.brush-canvas {
    position: absolute;
    pointer-events: auto;
    cursor: url('/images/pencil.png') 4 20,crosshair;
}
  