* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

#image-view{
    height: calc(100vh - 120px);
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
}

#image-properties{
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #f8f8f8;
    border: 2px solid #2f2e2e;
    border-radius: 8px;
    padding: 10px 15px;
    gap: 20px;
    height: auto;
}

#image-gallery h2,
#image-properties h2 {
    margin-bottom: 10px;
    display: block;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    border-bottom: #e3e0e0 groove 2px;
}

#image-properties p {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 5px;
}

#image-container {
    flex: 4;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    border: 2px solid #2f2e2e;
    border-radius: 8px;
}

#image-container #image-controls{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.image-controls-icon {
    color: black;
    height: 20px;
    vertical-align: middle;
}

.image-controls-btn {
    margin-top: 10px;
    background-color: #b36d3b;
    border: black 2px solid;
}

.image-controls-btn:active {
    background-color: #8b4513;
}

.image-controls-btn[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
}

#image-container #image-display {
    border: #e3e0e0 dashed 2px;
    border-radius: 10px;
    margin: 10px 20px;
    height: calc(100% - 100px);
}

#image-display img {
    width: 500px;
    height: 500px;
    object-fit: contain;
    border-radius: 10px;
}

#image-container p {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    color: black;
    margin-bottom: 20px;
}

#image-gallery {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #f8f8f8;
    border: 2px solid #2f2e2e;
    border-radius: 8px;
    padding: 15px;
    overflow-y: auto;     
    scrollbar-width: thin;  
    scrollbar-color: #999 #f8f8f8;
}

#image-gallery img {
    display: block; 
    width: 100%;
    margin: 10px 0;
    border-radius: 8px;
    cursor: pointer;
    border: 2px solid wheat;
}

#image-gallery .img-active,
#image-gallery img:hover {
   border: 2px solid rgb(107, 171, 12);
}