* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

#image-view{
    height: calc(100vh - 120px);
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
}

#image-properties{
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #f8f8f8;
    border: 2px solid #2f2e2e;
    border-radius: 8px;
    padding: 10px 15px;
    gap: 20px;
    height: auto;
    align-self: flex-start; 
}

#image-gallery h2,
#image-properties h2 {
    margin-bottom: 10px;
    display: block;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    border-bottom: #e3e0e0 groove 2px;
}

#image-properties p {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 5px;
    word-wrap: break-word;   
    overflow-wrap: break-word; 
}

#image-container {
    flex: 4;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px; 
    background-color: #fff;
    border: 2px solid #2f2e2e;
    border-radius: 8px;
}

#image-container #image-controls{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.image-controls-icon {
    color: black;
    height: 20px;
    vertical-align: middle;
}

.image-controls-btn {
    margin-top: 10px;
    background-color: #b36d3b;
    border: black 2px solid;
}

.image-controls-btn:active {
    background-color: #8b4513;
}

.image-controls-btn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

#image-container #image-display {
    margin: 0 20px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#image-display.show-mask-layout {
    flex-direction: row; /* Arrange items horizontally */
    gap: 10px; /* Space between images */
}

#image-display .small-image {
    max-width: 50%; /* Each image takes up half the width */
    max-height: 100%;
    width: auto; /* Allow images to shrink */
    height: auto;
    object-fit: contain;
}

#image-display img {
    max-width: 100%; 
    max-height: 100%; 
    object-fit: contain; 
    border-radius: 10px;
}

#image-container p {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    color: black;
    margin-bottom: 20px;
}

#image-gallery {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #f8f8f8;
    border: 2px solid #2f2e2e;
    border-radius: 8px;
    padding: 15px;
    overflow-y: auto;     
    scrollbar-width: thin;  
    scrollbar-color: #999 #f8f8f8;
}

#image-gallery img {
    display: block; 
    width: 100%;
    margin: 10px 0;
    border-radius: 8px;
    cursor: pointer;
    border: 4px solid wheat;
}

#image-gallery .img-active,
#image-gallery img:hover {
    border: 4px solid #4a90e2;
} 

.gallery-item {
    position: relative;
    margin: 10px 0;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gallery-item img {
    width: 100%;
    height: auto;
    border-radius: 4px;
    cursor: pointer;
}

.mask-button {
    margin-top: 5px;
    padding: 5px 10px;
    background-color: #6a0dad; /* Màu tím */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.mask-button:hover {
    background-color: #4b0082; /* Màu tím đậm hơn khi hover */
} 



  